.card{
  cursor: pointer;
  position: relative;
}
.card-title-container {
  justify-content: space-between;
}
.option-modal{
  position: absolute;
  z-index: 3;
  right: 0.3rem;
  width: max-content;
  top: 90%;
  height: max-content;
  background-color: var(--background-color);
}
.option{
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  gap: 0.4rem;
}
.text-danger{
  color: var(--danger-color);
}
.option:hover{
  background-color: var(--drawer-item-hover);
}
.card__footer {
  color: var(--text-color-secondary);
}
.card__footer p {
  font-size: 0.87rem;
}
