/* This root style be commented out from App.css. Here for a while  */
:root {
  --primary-color: #45523e;
  --dark-primary-color: #323b2e;
  --light-primary-color: #8ca67e;
  --very-light-primary-color: #e8ffdb;

  --complimentary-text-color: #f5ece5;
  --transparent-white: white;
  --secondary-text-color: #696b79;
  --dark-secondary-text-color: #3f4049;
  --dark-secondary-text-color2: #26272c;
  --secondary-color: #eaeaec;
  --dark-secondary-color: #d8d8da;
}
.App{
  background-color: var(--body-background-color);
  color: var(--text-color);
  min-height: 100vh;
}
.disable-body{
  pointer-events: none;
  opacity: 0.7;
}

@media only screen and (max-width: 950px) {
  .sidebar-toggler {
      display: block;
  }
}