@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Noto+Sans&family=Nunito:ital,wght@0,300;1,300&family=Playfair+Display:wght@700;800&family=Poppins:wght@200;300;400&family=Public+Sans:wght@200&display=swap');
@import url('https://kube-ui.netlify.app/Components/kube-ui.css');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #96A88C;
  --danger-color: #e85858;
}
.dark-theme{
  --background-color: rgba(33, 33, 33, 0.98);
  --body-background-color: #181818;
  --text-color: #ffffff;
  --text-color-secondary: #AAAAAA;
  --search-box-background-color: hsl(0, 0%, 7%);
  --search-box-text-color: hsla(0, 100%, 100%, 0.88);
  --border-color: hsl(0, 0%, 18.82%);
  --drawer-item-hover: hsl(0, 0%, 20%);
  --cateogry-pills-background-color: rgba(255, 255, 255, 0.1);
  --cateogry-pills-hover: rgba(255, 255, 255, 0.2);
}
.light-theme{
  --background-color: #ffffff;
  --body-background-color:  #f9f9f9;
  --text-color: #030303;
  --text-color-secondary: #606060;
  --search-box-background-color: #ffffff;
  --search-box-text-color: #3f4049;
  --border-color:  #ccc;
  --drawer-item-hover: rgba(0, 0, 0, 0.05);
  --cateogry-pills-background-color: rgba(0, 0, 0, 0.05);
  --cateogry-pills-hover: rgba(0, 0, 0, 0.1);
}

body{
  min-height: 100vh;
}
p{
  margin: 0.235rem 0;
}
input {
outline: none;
}
.no-link-style {
text-decoration: none;
cursor: pointer;
border: none;
background-color: transparent;
color: inherit;
}
li {
  list-style-type: none;
}
a {
  text-decoration: inherit;
  color: inherit
}