.loader-wrapper {
  background-color: #181818;
  width: calc(100vw - 15rem);
  height: calc(100vh - 4rem);
  position: fixed;
  top: 4rem;
  left: 15rem;
  z-index: 9999;
}
.loader{
  width: 10rem;
  height: 10rem;
}
